In [69]:
from functools import reduce 
import pandas as pd 
import os

In [70]:
carpeta = r"C:\my_last_dance\final_provider\final_provider" 
dataframes_dict = {}  # Diccionario para almacenar los DataFrames

for archivo in os.listdir(carpeta):
    ruta_completa = os.path.join(carpeta, archivo)

    if archivo.endswith(".csv"):
        nombre_variable = archivo.replace(".csv", "")  # Eliminar la extensión para usar como clave
        dataframes_dict[nombre_variable] = pd.read_csv(ruta_completa) 
# Acceder a un DataFrame específico

dataframes_dict['phone'].info()
print()
dataframes_dict['personal'].info()
print()
dataframes_dict['contract'].info()
print()
dataframes_dict['internet'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6361 entries, 0 to 6360
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     6361 non-null   object
 1   MultipleLines  6361 non-null   object
dtypes: object(2)
memory usage: 99.5+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
dtypes: float64(1), object(7)
memory usage: 440.3+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5517 entries, 0 to 5516
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5517 non-null   object
 1   InternetService   5517 non-null   object
 2   OnlineSecurity    5517 non-null   object
 3   OnlineBackup      5517 non-null   object
 4   DeviceProtection  5517 non-null   object
 5   TechSupport       5517 non-null   object
 6   StreamingTV       5517 non-null   object
 7   StreamingMovies   5517 non-null   object
dtypes: object(8)
memory usage: 344.9+ KB

In [71]:
grouped_df = reduce(lambda left, right: pd.merge(left, right, on="customerID", how="outer"), dataframes_dict.values())
print(grouped_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   InternetService   5517 non-null   object
 9   OnlineSecurity    5517 non-null   object
 10  OnlineBackup      5517 non-null   object
 11  DeviceProtection  5517 non-null   object
 12  TechSupport       5517 non-null   object
 13  StreamingTV       5517 non-null   object
 14  StreamingMovies   5517 non-null   object
 15  gender            7043 non-null   object
 16  SeniorCitizen     7043 non-null   int64
 17  Partner           7043 non-null   object
 18  Dependents        7043 non-null   object
 19  MultipleLines     6361 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.1+ MB
None

In [82]:
grouped_df.sample(20)

,customerID,BeginDate,EndDate,Type,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,gender,SeniorCitizen,Partner,Dependents,MultipleLines
4130,5842-POCOP,2019-06-01,2019-11-01 00:00:00,Month-to-month,Yes,Mailed check,88.90,454.15,Fiber optic,Yes,No,Yes,No,No,Yes,Female,0,Yes,No,No
6767,9609-BENEA,2017-03-01,No,One year,Yes,Electronic check,69.00,2441.7,DSL,No,Yes,No,Yes,Yes,No,Male,0,Yes,No,Yes
7037,9986-BONCE,2019-08-01,2019-12-01 00:00:00,Month-to-month,No,Bank transfer (automatic),20.95,85.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,0,No,No,No
2998,4291-TPNFG,2014-02-01,No,Two year,Yes,Bank transfer (automatic),82.30,5980.55,DSL,Yes,Yes,Yes,Yes,No,Yes,Male,0,Yes,No,Yes
4811,6769-DYBQN,2016-01-01,2019-11-01 00:00:00,Month-to-month,No,Electronic check,85.00,3969.4,Fiber optic,Yes,No,No,No,No,Yes,Male,1,No,No,No
1970,2851-STERV,2017-03-01,No,One year,Yes,Electronic check,73.00,2471.25,DSL,No,No,Yes,Yes,Yes,Yes,Male,1,No,No,No
4347,6131-FOYAS,2017-03-01,No,Month-to-month,Yes,Electronic check,59.60,2094.9,DSL,Yes,No,Yes,No,No,No,Male,0,No,No,Yes
6369,9026-RNUJS,2019-07-01,2019-12-01 00:00:00,Month-to-month,No,Electronic check,50.35,237.25,DSL,No,No,Yes,No,No,No,Male,1,No,No,No
3672,5178-LMXOP,2019-10-01,2019-11-01 00:00:00,Month-to-month,Yes,Electronic check,95.10,95.1,Fiber optic,No,No,No,No,Yes,Yes,Male,1,Yes,No,Yes
5703,8035-PWSEV,2019-08-01,No,Month-to-month,Yes,Electronic check,89.25,487.05,Fiber optic,No,No,Yes,Yes,No,Yes,Female,0,No,No,No
5195,7311-MQJCH,2019-09-01,No,One year,No,Electronic check,19.55,99.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,0,No,No,No
6572,9348-ROUAI,2015-03-01,No,Two year,No,Credit card (automatic),90.30,5194.05,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Female,0,Yes,Yes,Yes
317,0471-ARVMX,2014-12-01,No,One year,Yes,Electronic check,104.85,6312.9,Fiber optic,Yes,No,Yes,No,Yes,Yes,Female,1,Yes,No,Yes
6322,8949-JTMAY,2017-07-01,2019-12-01 00:00:00,Month-to-month,Yes,Credit card (automatic),98.60,2933.2,Fiber optic,No,No,Yes,No,Yes,Yes,Female,0,No,No,Yes
4798,6741-QRLUP,2014-11-01,No,Two year,Yes,Credit card (automatic),80.30,4995.35,DSL,Yes,Yes,Yes,Yes,No,Yes,Female,0,No,No,Yes
1843,2676-ISHSF,2020-01-01,No,Month-to-month,No,Mailed check,20.30,20.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,0,No,No,No
4249,5989-PGKJB,2018-10-01,No,Month-to-month,Yes,Electronic check,86.25,1340.1,Fiber optic,No,Yes,No,No,No,Yes,Female,0,No,No,No
1538,2249-YPRNG,2018-04-01,2019-12-01 00:00:00,Month-to-month,Yes,Bank transfer (automatic),105.85,2239.65,Fiber optic,No,Yes,Yes,No,Yes,Yes,Female,0,Yes,Yes,Yes
3056,4373-VVHQL,2020-01-01,No,Month-to-month,Yes,Electronic check,44.75,44.75,DSL,No,No,No,No,No,No,Male,0,No,No,No
1566,2277-AXSDC,2017-06-01,No,One year,No,Bank transfer (automatic),19.75,624.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,0,No,No,No

In [ ]:
#grouped_df['BeginDate'] = pd.to_datetime(grouped_df['BeginDate'], format="%y/%m/%Y", errors="coerce")
#grouped_df['EndDate'] = pd.to_datetime(grouped_df['EndDate'], format="%d/%m/%Y", errors="coerce")

In [74]:
grouped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   BeginDate         7043 non-null   object
 2   EndDate           7043 non-null   object
 3   Type              7043 non-null   object
 4   PaperlessBilling  7043 non-null   object
 5   PaymentMethod     7043 non-null   object
 6   MonthlyCharges    7043 non-null   float64
 7   TotalCharges      7043 non-null   object
 8   InternetService   5517 non-null   object
 9   OnlineSecurity    5517 non-null   object
 10  OnlineBackup      5517 non-null   object
 11  DeviceProtection  5517 non-null   object
 12  TechSupport       5517 non-null   object
 13  StreamingTV       5517 non-null   object
 14  StreamingMovies   5517 non-null   object
 15  gender            7043 non-null   object
 16  SeniorCitizen     7043 non-null   int64
 17  Partner           7043 non-null   object
 18  Dependents        7043 non-null   object
 19  MultipleLines     6361 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.1+ MB

In [75]:
grouped_df['BeginDate'].sample(50)

2050    2018-01-01
1307    2014-02-01
1824    2015-02-01
5197    2019-08-01
3013    2014-04-01
495     2017-02-01
784     2018-09-01
5003    2018-05-01
3548    2015-11-01
2015    2019-03-01
1599    2017-06-01
3059    2017-06-01
3367    2019-03-01
263     2014-02-01
4991    2015-01-01
6596    2017-05-01
1732    2014-04-01
1177    2017-06-01
4294    2019-12-01
938     2015-12-01
4845    2019-02-01
5738    2019-12-01
4098    2015-07-01
1541    2019-05-01
1925    2016-08-01
3317    2014-02-01
6921    2020-01-01
6422    2018-11-01
1109    2020-01-01
1300    2015-04-01
4190    2017-06-01
5315    2018-02-01
5950    2019-10-01
4682    2017-05-01
4203    2018-09-01
2320    2019-11-01
4674    2017-10-01
2763    2015-12-01
1498    2019-11-01
3264    2019-11-01
721     2014-05-01
432     2017-11-01
1738    2013-12-01
5651    2019-06-01
5353    2018-07-01
4963    2016-09-01
262     2019-10-01
6348    2014-05-01
5949    2019-06-01
1384    2020-01-01
Name: BeginDate, dtype: object